<div class="login-container">
  <div class="login-content">
    <!-- Sección de imagen -->
    <div class="image-section">
        <img 
        src="https://prohealth.apollohospitals.com/assets/images/book-appointment-bg.png"
        class="login-image"
        />
    </div>

    <!-- Sección del formulario -->
    <div class="form-section">
      <div class="form-container">
        <div class="form-header">
          <h2>Bienvenido</h2>
          <p>Ingresa a tu cuenta para continuar</p>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="p-fluid">
          <!-- Campo de usuario -->
          <div class="p-field">
            <label for="rol" class="p-label">
                <i class="pi pi-user"></i>
                Seleccion de rol
            </label>
            <p-select
                id="rol"
                [options]="roles"
                formControlName="seleccionRol"
                placeholder="Selecciona tu rol"
                optionLabel="label"
                styleClass="w-full"
            ></p-select>
            <small 
              *ngIf="loginForm.get('seleccionRol')?.invalid && loginForm.get('seleccionRol')?.touched" 
              class="p-error">
              <span *ngIf="loginForm.get('seleccionRol')?.errors?.['required']">
                La seleccion de rol es obligatoria
              </span>
            </small>

            <hr>
            
            <div>
              <p>
               Aclaracion: Ingrese su numero de identificacion si va a ingresar como paciente, su numero de tarjeta profesional
               si va a ingresar como medico o su ID especial si va a ingresar como administrador
             </p>
            </div>

            <br>

            <label for="usuario" class="p-label">
              <i class="pi pi-id-card"></i>
              Numero de identificacion, tarjeta profesional o ID
            </label>
            <input 
                id="usuario" 
                type="text" 
                pInputText 
                formControlName="usuario" 
                placeholder="Numero de identificacion, tarjeta profesional o ID"
                class="p-inputtext-lg" />
            <small 
              *ngIf="loginForm.get('usuario')?.invalid && loginForm.get('usuario')?.touched" 
              class="p-error">
              <span *ngIf="loginForm.get('usuario')?.errors?.['required']">
                El usuario es obligatorio
              </span>
              <span *ngIf="loginForm.get('usuario')?.errors?.['minlength']">
                El usuario debe tener al menos 3 caracteres
              </span>
            </small>
          </div>

          <!-- Campo de contraseña -->
          <div class="p-field">
            <label for="contrasena" class="p-label">
              <i class="pi pi-lock"></i>
              Contraseña
            </label>
            <div class="p-inputgroup">
                <input 
                  [type]="showPassword ? 'text' : 'password'" 
                  pInputText 
                  formControlName="contrasena" 
                  placeholder="Ingresa tu contraseña"
                  class="p-inputtext-lg" />
                <button
                  type="button" 
                  pButton 
                  icon="pi {{ showPassword ? 'pi-eye-slash' : 'pi-eye' }}" 
                  class="p-button-text toggle-password"
                  (click)="togglePasswordVisibility()">
                </button>
            </div>
            <small 
              *ngIf="loginForm.get('contrasena')?.invalid && loginForm.get('contrasena')?.touched" 
              class="p-error">
              <span *ngIf="loginForm.get('contrasena')?.errors?.['required']">
                La contraseña es obligatoria
              </span>
              <span *ngIf="loginForm.get('contrasena')?.errors?.['minlength']">
                La contraseña debe tener al menos 6 caracteres
              </span>
            </small>
          </div>

          <!-- Botones -->
          <div class="buttons-container">
            <button 
              pButton 
              type="submit" 
              label="Iniciar Sesión" 
              class="p-button-lg login-button"
              [disabled]="loginForm.invalid">
            </button>

            <p-divider align="center">
              <span class="p-tag">o</span>
            </p-divider>

            <button 
              pButton 
              type="button" 
              label="Registrarse" 
              class="p-button-lg register-button"
              (click)="onRegister()">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>